<div class="call-container">
  <div class="container">
    <div class="row call">
      <div class="span7 course-info">
        <h1 class="course-name"><%= title %></h1>
        <em class="subtitle"><%= subtitle %></em>
        <em class="period">01/09/13 (4 semanas de duração)</em>

        <a href="#payment" class="button-success button-big button-join" data-toggle="modal">
          <span class="price"><span class="currency">R$ </span><%= price %></span>
          <span class="join">Participar</span>
        </a>
        <span class="payment">Em até 12 vezes pelo <span class="pagseguro">PagSeguro</span></span>

        <%= partial "payment_modal" %>
      </div>

      <div class="span5">
        <video id=<%= video_id %> class="sublime" poster="https://dl.dropboxusercontent.com/u/2910732/course-poster.png" width="470" height="264" data-uid=<%= video_id %> data-youtube-id=<%= video_id %> data-autoresize="fit" preload="none">
        </video>
      </div>
    </div>
  </div>
</div>
